<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col col-lg-8">
      <div class="text-center">
        <h1 [hidden]="isCross" class="text-uppercase text-info">Player 1 turn</h1>
        <h1 [hidden]="!isCross" class="text-uppercase text-info">Player 2 turn</h1>
      </div>
      <div class="grid">
        <div *ngFor="let item of itemArray; index as i " >
          <div class="card">
            <div class="card-box box" (click)="handleClick(i)">
              <app-icon [iconName]="item" ></app-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-lg-4 text-center" *ngIf="winMsg">
      <h1 class="text-uppercase">
        Game over {{ winMsg }}
      </h1>
      <button
        (click) = "reloadGame()" 
        class="btn btn-danger text-uppercase pl-5 pr-5">
        Reload Game
      </button>
    </div>
  </div>
</div>